<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" #formz="ngForm" (ngSubmit)="onSubmit(formz)">
        <mat-form-field>
            <input matInput ngModel type="email" name="email" placeholder="your.email@example.com">
        </mat-form-field>

        <mat-form-field>
            <input matInput ngModel type="password" name="password" placeholder="your password">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</section>
