<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" #formz="ngForm" (ngSubmit)="onSubmit(formz)">
        <mat-form-field>
            <input matInput
                   ngModel
                   type="email"
                   name="email"
                   email
                   required
                   #emailInput="ngModel"
                   placeholder="your.email@example.com">
                   <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
                   <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Should be at least 6 characters long.">
            <input matInput
                   ngModel
                   type="password"
                   name="password"
                   required
                   minLength="6"
                   #pwInput="ngModel"
                   placeholder="your password">
                   <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
                   <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                   ngModel
                   name="birthday"
                   required
                   [matDatepicker]="picker"
                   [max]="maxDate"
                   placeholder="your birthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox ngModel name="agree">Agree to Terms and Conditions.</mat-checkbox>

        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</section>
